<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load staticfiles %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" title="no title" charset="utf-8">
  <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
    $('select').material_select();
    });
  </script> -->
  <title>timely</title>
</head>
<body>

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">&#x1f552; timely</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>Welcome, {{ request.session.username }}</li>
          <li class="active"><a href="#">My Schedule</a></li>
          <li><a href="{% url 'appts:history' %}">My History</a></li>
          <li><a href="{% url 'appts:account' %}">My Account</a></li>
          <li><a href="{% url 'appts:logout' %}">Log Out</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div id="today">
    <h3 class="header">{{ today }}</h3>
    {% if my_today_appts|length == 0 %}
    <h5>You have no appointments scheduled for today.</h5>
    {% elif my_today_appts|length > 0 %}
    <table class="responsive-table">
      <tr class="border">
        <th style="visibility: hidden;">Icon</th>
        <th>Title</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>Type</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Actions</th>
      </tr>
      {% for appt in my_today_appts %}
        <tr class="border">
          <td><h5>{{ appt.my_symbol }}<h5></td>
          <td>{{ appt.my_task }}</td>
          <td>{{ appt.my_date }}</td>
          <td>{{ appt.my_time }}</td>
          <td>{{ appt.my_location }}</td>
          <td>{{ appt.my_type }}</td>
          {% if appt.my_priority == 'High' %}
          <td>{{ appt.my_priority }}</td>
          {% else %}
          <td>{{ appt.my_priority }}</td>
          {% endif %}
          <td>{{ appt.my_status }}</td>
          <td><a href="{% url 'appts:edit' appt_id=appt.id %}" class="url">Edit</a></td>
          <td><a href="{% url 'appts:delete' appt_id=appt.id %}" class="url">Delete</a></td>
          {% if appt.my_time < right_now  and appt.my_status == 'Pending' %}
          <td><a href="{% url 'appts:complete' appt_id=appt.id %}" class="url">Mark As Complete</a></td>
          {% else %}
          <td>None</td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
    {% endif %}
  </div>

  <p style="margin-left: 10%;"><a href="{% url 'appts:new' %}" class="url">Add Appointment</a></p>

  <div id="future">
    <h4 class="header">Upcoming appointments</h4>
    {% if my_future_appts|length == 0 %}
    <h5>You have no upcoming appointments scheduled.</h5>
    {% elif my_future_appts|length > 0 %}
    <table class="responsive-table">
      <tr class="border">
        <th style="visibility: hidden;">Icon</th>
        <th>Title</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>Type</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Actions</th>
      </tr>
      {% for appt in my_future_appts %}
        <tr class="border">
          <td><h5>{{ appt.my_symbol }}<h5></td>
          <td>{{ appt.my_task }}</td>
          <td>{{ appt.my_date }}</td>
          <td>{{ appt.my_time }}</td>
          <td>{{ appt.my_location }}</td>
          <td>{{ appt.my_type }}</td>
          <td>{{ appt.my_priority }}</td>
          <td>{{ appt.my_status }}</td>
          <td><a href="{% url 'appts:edit' appt_id=appt.id %}" class="url">Edit</a></td>
          <td><a href="{% url 'appts:delete' appt_id=appt.id %}" class="url">Delete</a></td>
          <td>None</td>
        </tr>
      {% endfor %}
    </table>
    {% endif %}
  </div>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">thanks for using timely!</h5>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2016 Copyright Preeya Sharma
      <a class="grey-text text-lighten-4 right" href="https://github.com/sharpree89">github</a>
      </div>
    </div>
  </footer>
</body>
</html>
