<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load staticfiles %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" title="no title" charset="utf-8">
  <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
    $('select').material_select();
    });
  </script> -->
  <title>timely</title>
</head>
<body>

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">&#x1f552; timely</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">Welcome, {{ request.session.name }}</a></li>
          <li><a href="{% url 'appts:appts' %}">My Schedule</a></li>
          <li class="active"><a href="#">My History</a></li>
          <li><a href="{% url 'appts:new' %}">Add Appointment</a></li>
          <li><a href="{% url 'appts:logout' %}">Log Out</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div id="past">
    <h3 class="header">Appointment History:</h3>
    <table class="responsive-table">
      <tr class="border">
        <th></th>
        <th>Title</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>Status</th>
      </tr>
      {% for appt in my_past_appts %}
        <tr class="border">
          <td><h5>{{ appt.my_symbol }}</h5></td>
          <td>{{ appt.my_task }}</td>
          <td>{{ appt.my_date }}</td>
          <td>{{ appt.my_time }}</td>
          <td>{{ appt.my_location }}</td>
          <td>{{ appt.my_status }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">thanks for using timely!</h5>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2016 Copyright Preeya Sharma
      <a class="grey-text text-lighten-4 right" href="https://github.com/sharpree89">github</a>
      </div>
    </div>
  </footer>
</body>
</html>
