/*

login page

.brand-logo style="margin-left: 10px;" (a)
.header style="color: #C2595E;" (h4)
#login style="width: 25%; margin-left: 38%;" (div)
.button style="background-color: #EE6E73; color: white; padding: 3% 10%; border: none !important; border-radius: 10px; box-shadow: none !important;"> (input)

register page

.brand-logo style="margin-left: 10px;" (a)
#register style="width: 25%; margin-left: 38%;" (div)
.header style="color: #C2595E;" (h4)
.button style="background-color: #EE6E73; color: white; padding: 10px 20px; border: none !important; border-radius: 10px; box-shadow: none !important;" (input)

show appts page

.brand-logo style="margin-left: 10px;" (a)
#today style="width: 800px; margin: 50px;" (div)
.header style="color: #C2595E;" (h3)
.url style="color: #EE6E73;" (a)
#future style="width: 800px; margin: 50px;" (div)

edit appt page

.brand-logo style="margin-left: 10px;" (a)
#edit style="width: 400px; margin: 100px;" (div)
.header style="color: #C2595E;" (h4)
.button style="background-color: #EE6E73; color: white; padding: 10px 20px; border: none !important; border-radius: 10px; box-shadow: none !important;" (input)

new appt page

.brand-logo style="margin-left: 10px;" (a)
#new style="width: 400px; margin: 100px;" (div)
.header style="color: #C2595E;" (h4)
.button style="background-color: #EE6E73; color: white; padding: 10px 20px; border: none !important; border-radius: 10px; box-shadow: none !important;" (input)

*/
